@media screen and (orientation:Portrait){
  section{
    margin-left: 10px;
    margin-right: 10px;
  }
  .item-3{
   display: grid;
   grid-template-columns: 12fr;
  }
  body{
    min-height:1000px ;
  }
  .img{
    width: 100%;
  }
 .upload-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* perfect centering */
  width: 90%;
  max-width: 400px;
  /* min-height: 350px; */
  background: rgb(0, 0, 0);
  z-index: 1000;
  border-radius: 10px;
}
form{
  width: 100%;
}
.delete-btn{
  right: 0px;
}
input,textarea,.btn-submit{
  width: 100%;
}
}