@media screen and (orientation:Portrait){
  section{
    margin-left: 10px;
    margin-right: 10px;
  }
  .item-3{
   display: grid;
   grid-template-columns: 12fr;
  }
  body{
    min-height:1000px ;
  }
  .img{
    width: 100%;
  }
  .upload-modal{
    width: 90%;
    height: 350px;
  top: 30%;
  left: 5%;
}
form{
  width: 100%;
}
.delete-btn{
  right: 0px;
}
}